# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# -------------------------
# MLflow
# -------------------------
mlruns/

# -------------------------
# Model artifacts
# -------------------------
*.pkl
*.png
mlflow.db

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/
# -------------------------
# Model artifacts
# -------------------------
*.pkl
*.png
mlflow.db

!models/rain_model.pkl